# Project exclude paths

# Gradle Setting Path
/.gradle/

# IDE Setting Path
/.idea/

# Build Path
/out/
/app/build/
/app/build/classes/java/main/
/netcom/build/
/netcom/build/classes/java/main/
/ui/out/
/ui/build/
/ui/build/classes/java/main/