# - Project exclude paths -
# Gradle Setting Path
/.gradle/
/buildSrc/.gradle/

# IDE Setting Path
/.idea/

# Build Path
/buildSrc/build/
/app/build/
/netcom/build/
/ui/build/
/data/build/

# Eclipse Exculdes
