# Project exclude paths

# Gradle Setting Path
/.gradle/

# IDE Setting Path
/.idea/
/.settings/
/.metadata/

# Build Path
/build/
/app/build/
/app/build/classes/java/main/
/netcom/build/
/netcom/build/classes/java/main/
/ui/build/
/ui/build/classes/java/main/